modem.img
recovery.img
bootRE/boot.elf
system/system/MzApp/FlymeMusic/FlymeMusic.apk
system/system/MzApp/Scanner/Scanner.apk
system/system/MzApp/Video/Video.apk
system/system/MzApp/Weather/Weather.apk
system/system/priv-app/Browser/Browser.apk
system/system/priv-app/DirectService/DirectService.apk
system_ext/apex/com.android.vndk.v30.apex
system_ext/app/SnapdragonSVA/SnapdragonSVA.apk
product/app/WebViewGoogle/WebViewGoogle.apk
product/custom/3rd-party/apk/Weibo/Weibo.apk
product/custom/3rd-party/apk/baidu/baidu.apk
product/priv-app/GmsCore/GmsCore.apk
